<nav *ngIf="authService.usuarioEstaAutenticado" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Nava-Training</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent"  [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active"  routerLink="cursos">Cursos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="sobre">Sobre</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="login" (click)="this.authService.logout()">logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <app-footer></app-footer>
</div>





