<div class="container">
  <div class="row">
      <div class="card col-sm-3">
        <img src="assets/img/angular.webp" class="card-img-top0" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Angular</h5>
          <p class="card-text">Curso Completo</p>
          <a class="btn btn-primary" routerLink="/login">Começar</a>
        </div>
      </div>

      <div class="card col-sm-3">
        <img src="assets/img/csharp.png" class="card-img-top1" alt="..." />
        <div class="card-body">
          <h5 class="card-title">C-Sharp</h5>
          <p class="card-text">Curso Completo</p>
          <a class="btn btn-primary" routerLink="/login">Começar</a>
        </div>
      </div>

      <div class="card col-sm-3">
        <img src="assets/img/java.png" class="card-img-top2" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Java</h5>
          <p class="card-text">Curso Completo</p>
          <a class="btn btn-primary" routerLink="/login">Começar</a>
        </div>
      </div>

      <div class="card col-sm-3">
        <img src="assets/img/python.png" class="card-img-top3" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Python</h5>
          <p class="card-text">Curso Completo</p>
          <a class="btn btn-primary" routerLink="/login">Começar</a>
        </div>
      </div>
    </div>
  </div>
