<div class="container ">
  <h2>Login</h2>
</div>

<form [formGroup]="loginForm" (submit)=" fazerLogin()">
  <div class="container col-sm-4">
    <label for="usuario" class="active">Email address</label>
    <input type="email" class="form-control" formControlName="email" id="usuario" for="usuario" />
  </div>

  <div class="container col-sm-4">
    <label for="senha" class="active">Password</label>
    <input id="senha" type="password" class="form-control active" formControlName="senha"  />
  </div>

  <div class="container col-sm-4 d-grid gap-2">
    <button type="submit" class="btn btn-success">Fazer Login</button>
    <button  type="button" class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
  </div>
</form>

